agente para cadastro via whatsapp.json
{
  "name": "dev_AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev_AI-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4400,
        -2800
      ],
      "id": "8d13462b-ef2d-43ce-9d71-4842d2d97b83",
      "name": "Webhook",
      "webhookId": "61bca497-dcdc-4283-9c30-29340fdd4fdd"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4336,
        -2304
      ],
      "id": "851078a2-7e07-4373-a37f-4f260c836c65",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hIJqfiDpkCPNzfYs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "303c3b20-072e-40c9-911c-b459a94d91b0",
              "name": "from",
              "value": "={{ $json.body.connectedPhone }}",
              "type": "string"
            },
            {
              "id": "4e647ac3-c8de-4434-a33a-124cae6d5bcd",
              "name": "name",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "3548c70f-ad08-49a4-88b3-95c85db8ff5a",
              "name": "Instance",
              "value": "={{ $json.headers.server }}",
              "type": "string"
            },
            {
              "id": "84e15d8a-d2a1-4a5e-920e-5a9724cf527c",
              "name": "messageType",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "c95f969e-d077-4761-8a48-70691c326bcb",
              "name": "base64-Image",
              "value": "x",
              "type": "string"
            },
            {
              "id": "9c292901-7a15-441e-bbdb-5f8c0b0ea063",
              "name": "base64-Voice",
              "value": "x",
              "type": "string"
            },
            {
              "id": "320e5c0e-685f-46c0-8579-613cd85ae8cc",
              "name": "messageId",
              "value": "={{ $json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "f7b7d2bf-6132-4a08-9449-8495888a9afa",
              "name": "message",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4208,
        -2800
      ],
      "id": "29302261-7729-456c-aed3-60d24b3a891c",
      "name": "DADOS"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw",
          "mode": "list",
          "cachedResultName": "Agente_user",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agente AI Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Numero",
              "lookupValue": "={{ $json.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3808,
        -2816
      ],
      "id": "158927be-761b-4c30-9bb2-47e6c6895ce0",
      "name": "Encontrar Users",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZzFcvUKW2GVrJQi6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "376bef32-4534-4d15-aa19-f68128aa37fa",
              "leftValue": "={{ $json.Numero }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3600,
        -2816
      ],
      "id": "975c29b5-62ef-4ea9-abbe-cc26ae05face",
      "name": "verifica cadastro"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6c71cb2-b081-421d-b430-c817299abd54",
              "leftValue": "={{ $json.from }}",
              "rightValue": "9408",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4032,
        -2800
      ],
      "id": "3c0e42a7-350b-4077-8c0c-5b742789941e",
      "name": "Fixar Numero"
    },
    {
      "parameters": {
        "content": "## Identificando Usuário:",
        "height": 240,
        "width": 1056,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4448,
        -2880
      ],
      "id": "c9e9c31d-ef8a-41de-9ac8-8622090cfd3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('DADOS').first().json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é o Agente de Cadastro do Sistema Agente Nutri, nós ajudamos o usuário a atingir \nseu objetivo para viver mais saudável \nEste usuário com quem você está conversando não possui cadastro no sistema ainda, você \nprecisa pedir para ele nome e objetivo no sistema \nO objetivo deve ser o que ele pretende ao utilizar este aplicativo, então não aceite valores \nque não se relacionam com nutrição \nQuando ele passar os dados cadastre na planilha de usuarios e envie uma mensagem de \nobrigado --- \n# OUTPUT \n{ \n    \"mensagem\": \"Mensagem para o usuario\", \n    \"status\": \"OK | Não Ok\" \n} \nO status deve ser enviado OK somente se o cadastro for concluído com sucesso "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4144,
        -2544
      ],
      "id": "5342c4af-b2cf-4840-9280-ba0f836f8f20",
      "name": "Agente Cadastro"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw",
          "mode": "list",
          "cachedResultName": "Agente_user",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agente AI Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rzkMGWGaiRaVz-QFIEzBQzqFcgb8o67fqaQgMuK0bNw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome_', `Nome do Usuario no Sistema.`, 'string') }}",
            "Objetivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Objetivo', `Objetivo passado pelo Usuario.`, 'string') }}",
            "Numero": "={{ $('DADOS').item.json.from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome ",
              "displayName": "Nome ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Objetivo",
              "displayName": "Objetivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4048,
        -2304
      ],
      "id": "b469c780-c624-4b19-8a43-b1ad0b0a29db",
      "name": "Retorno de mensagem de cadastro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZzFcvUKW2GVrJQi6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EEFFD661D20D1B99F0756814DEBC12F/token/163655EEEF0DC982D0990B5C/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F63b568ced096462e82445ab20f000d0aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3744,
        -2544
      ],
      "id": "107e7170-7bce-4cd8-b473-a0f47d4d02f9",
      "name": "Retorno de mensagem de cadastro."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS').first().json.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4192,
        -2304
      ],
      "id": "6d9dfd62-ba7e-4b68-a63d-ad5c953f6c11",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n    \"mensagem\": \"Mensagem para o usuario\", \n    \"status\": \"OK | Não Ok\" \n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3904,
        -2304
      ],
      "id": "0c5a1615-3e1d-4289-9c0c-e21269fe86f5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3904,
        -2160
      ],
      "id": "81d00fda-ca93-4453-9204-979a1593d247",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hIJqfiDpkCPNzfYs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Cadastro de usuarios: ",
        "height": 592,
        "width": 1024,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4432,
        -2560
      ],
      "id": "4dd90d71-7ae0-4655-8cb5-f1fd0a8277fa",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Cadastro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DADOS": {
      "main": [
        [
          {
            "node": "Fixar Numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Users": {
      "main": [
        [
          {
            "node": "verifica cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixar Numero": {
      "main": [
        [
          {
            "node": "Encontrar Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica cadastro": {
      "main": [
        [],
        [
          {
            "node": "Agente Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Cadastro": {
      "main": [
        [
          {
            "node": "Retorno de mensagem de cadastro.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorno de mensagem de cadastro": {
      "ai_tool": [
        [
          {
            "node": "Agente Cadastro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Cadastro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Cadastro",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retorno de mensagem de cadastro.": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cc5b3de4-7266-4e49-ac31-9290f6c05c09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bd195a6ecdc9b8cd66f4ee390e1781a378019ee5f79216e6b408ece61314bcd"
  },
  "id": "B7oGZRznS5EWbpYN",
  "tags": []
}